<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      value_set_functions = new ValueSetFunctions();
      value_set_functions.edit_form();
    });
  </script>
<% end %>

<% content_for :page_content do %>
  <input type="hidden" id='value_set_id' _id='<%= @value_set._id %>'></input>
  <h1>Editing <%= @value_set.oid %></h1>

  <div id="backbone-form">
    <button type="submit" class="btn btn-primary" id="update-value-set">
      <i class="icon-edit icon-white"></i>Update Value Set
    </button>
  </div>

<% end %>