<% content_for :page_content do %>
    <%= link_to "Create", new_value_set_url %>
  
    <br><br>
    <h3>Value Sets</h3>
    <table>
      <th>OID</th>
      <th>description</th>
      <% @value_sets.each do |value_set| %>
      <tr>
        <td><%= link_to value_set.oid, value_set %></td>
        <td><%= truncate(value_set.description, :length => 75) %>
      </tr>
      <% end %>
    </table>
<% end %>