<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      value_set_functions = new ValueSetFunctions();
      value_set_functions.new_form();
      // value_set_functions.bind_add_value_set();
    });
  </script>
<% end %>

<% content_for :page_content do %>

  <div id="backbone-form">
    <button type="submit" class="btn btn-primary" id="new-value-set">
      <i class="icon-plus icon-white"></i>Create Value Set
    </button>
  </div>
  
<% end %>